# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
env/
ENV/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Static files (اگر collectstatic استفاده می‌کنی)
staticfiles/

# Environment variables
.env
.env.*

# Migrations (اختیاری - اگر نمی‌خواهی روی گیت باشند)
# */migrations/*
# !*/migrations/__init__.py

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyre/

# Lint
.ruff_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# PyInstaller
*.spec

# Temporary files
*.tmp
*.temp